ExpressLicensing/.vs/
ExpressLicensing/Demo/bin/
ExpressLicensing/Demo/obj/
ExpressLicensing/ExpressLicensing/obj/
ExpressLicensing/LicenseViewer/obj/
ExpressLicensing/LicenseViewer/bin/
ExpressLicensing/LicenseGenerator/obj/
